.history {
    display: flex;
    width: fit-content;
    height: fit-content;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        top: 0px;
        bottom: 10px;
    }
    100% {
        opacity: 1;
        top: 10px;
        bottom: 0px;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        top: 10px;
        bottom: 0px;
    }
    100% {
        opacity: 1;
        top: 0px;
        bottom: 10px;
    }
}

.move-container {
    position: relative;
    width: 20px;
    height: 30px;
}

.move {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    opacity: 0;
}

.p1-move > .move {
    animation: fade-down 0.5s ease-out forwards;
    animation-delay: calc(var(--animation-order) * 0.01s);
}

.round-numbers {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.round-number {
    display: block;
    font-size: 0.8em;
    width: 20px;
    height: fit-content;
    padding-top: 3px;
    text-align: center;
}

.p2-move > .move {
    animation: fade-up 0.5s ease-out forwards;
    animation-delay: calc(var(--animation-order) * 0.01s);
}

.defect {
    background-color: rgb(238, 131, 131);
    border: 1px solid rgb(165, 78, 78);
}

.cooperate {
    background-color: rgb(137, 218, 137);
    border: 1px solid rgb(68, 128, 68);
}

.coming-soon {
    filter: brightness(100%);
    display: relative;
    width: fit-content;
}

.overlay {
    background-color: rgb(165, 166, 200);
    opacity: 0.25;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

.score-input {
    width: 50px;
}

.editor {
    border: 1px solid gray;
    border-radius: 5px;
}